{% extends 'adjudicate_base.html' %}

{%- block head_scripts %}
{{super()}}
<script type="text/javascript" charset="utf-8">
    let socket;
    $(document).ready(function() {
        socket = io.connect("http://" + document.domain + ":" + location.port);
        socket.on("connect", () => connected());
        socket.on("gradeGiven", data => gradeGiven(data));
        socket.on("updateGrade", data => updateGrade(data));
    });
    window.onbeforeunload = e => {
        disconnected();
    };
    const connected = () => {
        socket.emit("adjudicatorUpdate", {adjudicatorId: "{{current_user.user_id}}"});
    };
    const disconnected = () => {
        socket.emit("adjudicatorExit", {adjudicatorId: "{{current_user.user_id}}"});
    };
    const gradeGiven = elem => {
        let data = {
            gradingHeatId: "{{grading_heat.grading_heat_id}}",
            gradeId: elem.dataset.gradeId,
            role: elem.dataset.gradeRole,
            grade: elem.value
        };
        socket.emit("gradeGiven", data);
    };
    const updateGrade = data => {
        if (data.adjudicatorId === "{{current_user.user_id}}") {
            document.querySelector('#graded').innerText = data.graded;
            let navbar = document.querySelector('#navbar');
            if (data.graded < data.dancers) {
                navbar.classList.remove('bg-success');
                navbar.classList.add('bg-danger');
            } else {
                navbar.classList.remove('bg-danger');
                navbar.classList.add('bg-success');
            }
        }
    };
</script>
{%- endblock head_scripts %}

{% block navbar %}
{% if grading_heat is not none %}
<nav id="navbar" class="grading-navbar sticky-top navbar-dark navbar-default text-white {% if zeros == grades_required %}bg-success{% else %}bg-danger{% endif %}">
    <div>
        {% if order|int == 0 %}
        <a class="btn btn-outline-light"
           href="{{url_for('grading.adjudicate_level', discipline_id=grading_heat.heat.discipline.discipline_id, level_id=grading_heat.heat.level.level_id)}}">
            Exit
        </a>
        {% else %}
        <a class="btn btn-outline-light"
           href="{{url_for('grading.adjudicate_level', discipline_id=grading_heat.heat.discipline.discipline_id, level_id=grading_heat.heat.level.level_id, order=order|int-1)}}">
            Previous
        </a>
        {% endif %}
    </div>
    <div class="text-center">
        <div>{{grading_heat.display_name()}}</div>
        <div id="grades-given">Graded : <span id="graded">{{zeros}}</span>/{{grades_required}}</div>
    </div>
    <div>
        {% if order|int + 1 == heats|length %}
        <a class="btn btn-outline-light"
           href="{{url_for('grading.adjudicate_level', discipline_id=grading_heat.heat.discipline.discipline_id, level_id=grading_heat.heat.level.level_id)}}">
            Exit
        </a>
        {% else %}
        <a class="btn btn-outline-light"
           href="{{url_for('grading.adjudicate_level', discipline_id=grading_heat.heat.discipline.discipline_id, level_id=grading_heat.heat.level.level_id, order=order|int+1)}}">
            Next
        </a>
        {% endif %}
    </div>
</nav>
{% endif %}
{% endblock %}

{% block app_content %}
<div class="mx-2 mt-2">
    {% if order is not none %}
    {% for grade in grades %}
    <div class="card mb-2">
        <div class="card-header">
            <h3 class="text-center mb-2"><b>Couple {{grade.couple.number}}</b></h3>
        </div>
        <div class="card-body px-1 pt-1">
            {#
            <div class="slider-grid">
                <i class="fas fa-mars slider-icon"></i>
                <input class="slider d-none" id="grade-lead-{{grade.grading_id}}" data-grade-id="{{grade.grading_id}}" data-grade-role="lead"
                       data-slider-ticks="[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" type="text" data-slider-tooltip="always" data-slider-value="{{grade.lead_grade}}"
                       onchange="gradeGiven(this)"/>
                <label class="d-none" for="grade-lead-{{grade.grading_id}}"></label>
            </div>
            <div class="slider-grid">
                <i class="fas fa-venus slider-icon"></i>
                <input class="slider d-none" id="grade-follow-{{grade.grading_id}}" data-grade-id="{{grade.grading_id}}" data-grade-role="follow"
                       data-slider-ticks="[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" type="text" data-slider-tooltip="always" data-slider-value="{{grade.follow_grade}}"
                       onchange="gradeGiven(this)"/>
                <label class="d-none" for="grade-follow-{{grade.grading_id}}"></label>
            </div>
            #}
            {% if grade.lead_diploma %}
            <div class="button-grade-grid mb-3">
                <i class="fas fa-mars slider-icon"></i>
                <div class="button-grade-grid-buttons pr-5">
                {% for num in range(2, 11) %}
                <input type="radio" id="radio-grade-lead-{{grade.grading_id}}-{{num}}" name="radio-grade-lead-{{grade.grading_id}}" class="grade-checkbox d-none"
                       value="{{num}}" data-grade-id="{{grade.grading_id}}" data-grade-role="lead" onclick="gradeGiven(this)" {% if grade.lead_grade == num %}checked{% endif %}>
                <label class="btn btn-outline-success mx-1 my-1 px-1 py-1" for="radio-grade-lead-{{grade.grading_id}}-{{num}}">
                    {{"%2g"|format(g.values.calculate_grade(num))}}
                </label>
                {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if grade.follow_diploma %}
            <div class="button-grade-grid">
                <i class="fas fa-venus slider-icon"></i>
                <div class="button-grade-grid-buttons pr-5">
                {% for num in range(2, 11) %}
                <input type="radio" id="radio-grade-follow-{{grade.grading_id}}-{{num}}" name="radio-grade-follow-{{grade.grading_id}}" class="grade-checkbox d-none"
                       value="{{num}}" data-grade-id="{{grade.grading_id}}" data-grade-role="follow" onclick="gradeGiven(this)" {% if grade.follow_grade == num %}checked{% endif %}>
                <label class="btn btn-outline-success mx-1 my-1 px-1 py-1" for="radio-grade-follow-{{grade.grading_id}}-{{num}}">
                    {{"%2g"|format(g.values.calculate_grade(num))}}
                </label>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <a class="btn btn-outline-danger my-5 d-block"
       href="{{url_for('grading.adjudicate_level', discipline_id=grading_heat.heat.discipline.discipline_id, level_id=grading_heat.heat.level.level_id)}}">
        Exit
    </a>
    {% else %}
    <h2>{{discipline}} - {{level.name}} level</h2>
    <div class="mb-2">Select a heat from below to grade.</div>
    {% for heat in heats %}
    <a class="btn btn-primary d-block my-2"
       href="{{url_for('grading.adjudicate_level', discipline_id=heat.heat.discipline.discipline_id, level_id=heat.heat.level.level_id, order=heat.order)}}">
        {{heat.display_name(short=false)}}
    </a>
    {% endfor %}
    <a class="btn btn-danger d-block my-5" href="{{url_for('grading.adjudicate_start_page')}}">Back to homepage</a>
    {% endif %}
</div>
{% endblock %}