{% extends 'adjudicate_base.html' %}

{%- block head_scripts %}
{{super()}}
<script type="text/javascript" charset="utf-8">
    let socket;
    $(document).ready(function() {
        socket = io.connect("http://" + document.domain + ":" + location.port);
        socket.on("connect", () => connected());
    });
    window.onbeforeunload = e => {
        disconnected();
    };
    const connected = () => {
        socket.emit("adjudicatorUpdate", {adjudicatorId: "{{current_user.user_id}}"});
    };
    const adjudicatorLoggedOut = () => {
        socket.emit("adjudicatorLoggedOut", {adjudicatorId: "{{current_user.user_id}}"});
    };
    const disconnected = () => {
        socket.emit("adjudicatorExit", {adjudicatorId: "{{current_user.user_id}}"});
    };
</script>
{%- endblock head_scripts %}

{% block app_content %}
<div class="mx-3 mt-2">
    <h2>{{current_user}}</h2>
    <div>Welcome to the GOOD system.</div>
    <div class="mt-1">Select a level from below to grade.</div>
    {% for disc in g.all_disciplines %}
    <ul class="list-group mb-4">
        <li class="list-group-item list-group-item-primary">{{disc}}</li>
        <li class="list-group-item list-group-item-small px-0 py-0">
            {% for lvl in g.all_levels %}
            <a class="btn btn-primary d-block mx-2 my-2"
               href="{{url_for('grading.adjudicate_level', discipline_id=disc.discipline_id, level_id=lvl.level_id)}}">
                {{lvl}} level
            </a>
            {% endfor %}
        </li>
    </ul>
    {% endfor %}
    <div class="mb-2">When you are done, log out here.</div>
    <a class="btn btn-danger d-block mb-5" onclick="adjudicatorLoggedOut()" href="{{url_for('main.logout')}}">Log out</a>
</div>
{% endblock %}