{% extends 'base.html' %}

{% block app_content %}
<div class="main-panel">
    <div class="base-view">
        {% if master_list|length == 0 %}
        {% for disc in g.all_disciplines %}
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{disc}}</h4>
            </div>
            <div class="card-body">
                {% for lvl in g.all_levels %}
                <a class="btn btn-primary d-block my-1" href="{{url_for('grading.view_grades', discipline_id=disc.discipline_id, level_id=lvl.level_id)}}">{{lvl}} level</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="card grid-full-width">
            <div class="card-header">
                <h4 class="card-title">{{discipline}} - {{level}} level <span class="badge badge-pill badge-primary">{{ graded }}/{{ diplomas }}</span></h4>
                <p class="card-category">The grades of every couple in this level. This does <b><u>not</u></b> update live.</p>
            </div>
            <div class="card-body final-grades-grid">
                {% for couple in master_list.keys()|sort(attribute='number') %}
                <div>
                    <table class="table table-sm table-bordered mb-0">
                        <tbody>
                            <tr><th colspan="3" class="text-center">Couple {{couple.number}}</th></tr>
                            <tr><th colspan="3" class="text-center"><i class="fas fa-mars"></i> {{ couple.lead }}</th></tr>
                            <tr><th colspan="3" class="text-center"><i class="fas fa-venus"></i> {{ couple.follow }}</th></tr>
                            <tr>
                                <td><b>Dance</b></td>
                                <th style="width: 20%;"><i class="fas fa-mars"></i></th>
                                <th style="width: 20%;"><i class="fas fa-venus"></i></th>
                            </tr>
                            {% for dance in master_list[couple] %}
                                <tr>
                                <td class="vertical-align-middle">{{dance}}</td>
                                {% if master_list[couple][dance][g.values.GRADE].lead_diploma %}
                                <td class="grade-cell {% if master_list[couple][dance][g.values.FINAL_GRADE][g.values.LEAD] == '5' %}table-warning{% endif %}">
                                    {% if master_list[couple][dance][g.values.FINAL_GRADE][g.values.LEAD] != "5" %}
                                    {{master_list[couple][dance][g.values.FINAL_GRADE][g.values.LEAD]}}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                {% else %}
                                <td class="grade-cell table-secondary">-</td>
                                {% endif %}
                                {% if master_list[couple][dance][g.values.GRADE].follow_diploma %}
                                <td class="grade-cell {% if master_list[couple][dance][g.values.FINAL_GRADE][g.values.FOLLOW] == '5' %}table-warning{% endif %}">
                                    {% if master_list[couple][dance][g.values.FINAL_GRADE][g.values.FOLLOW] != "5" %}
                                    {{master_list[couple][dance][g.values.FINAL_GRADE][g.values.FOLLOW]}}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                {% else %}
                                <td class="grade-cell table-secondary">-</td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}