{% extends 'base.html' %}

{% block app_content %}
<div class="main-panel">
    <div class="base-view">
        {% if dancer_list|length == 0 %}
        {% for disc in g.all_disciplines %}
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{disc}}</h4>
            </div>
            <div class="card-body">
                {% for lvl in g.all_levels %}
                <a class="btn btn-primary d-block my-1" href="{{url_for('grading.view_grades', discipline_id=disc.discipline_id, level_id=lvl.level_id)}}">{{lvl}} level</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        {% for role in [g.values.LEAD, g.values.FOLLOW] %}
        <div class="card grid-full-width">
            <div class="card-header">
                <h4 class="card-title">{{discipline}} - {{level}} level ({% if role == g.values.LEAD %}LEADS{% else %}FOLLOWS{% endif %}) <span class="badge badge-pill badge-primary">{{graded[role]}}/{{dancer_list[role].keys()|length}}</span></h4>
                <p class="card-category">The grades of every {% if role == g.values.LEAD %}lead{% else %}follow{% endif %} in this level. This does <b><u>not</u></b> update live.</p>
            </div>
            <div class="card-body final-grades-grid">
                {% for dancer in dancer_list[role].keys()|sort(attribute='name') %}
                <div>
                    <table class="table table-sm table-bordered mb-0">
                        <tbody>
                            <tr><th colspan="2" class="text-center">{{dancer}}</th></tr>
                            {% for dance in dancer_list[role][dancer] %}
                            <tr class="{% if dancer_list[role][dancer][dance] == 0 %}table-warning{% endif %}">
                                <td class="vertical-align-middle">{{dance}}</td>
                                <td style="width: 30%;" class="grade-cell">
                                    {% if dancer_list[role][dancer][dance] != "5.00" %}
                                    {{dancer_list[role][dancer][dance]}}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}