<!DOCTYPE html>
<html lang="en" {% block html_attribs %}{% endblock html_attribs %}>

{% import 'wtf.html' as wtf %}

{% macro flash_messages() %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <script>
        document.addEventListener("DOMContentLoaded", () => {
            UIkit.notification({
                message: '{{message}}',
                status: '{% if category=="message" %}primary{% else %}{{ category }}{% endif %}',
                pos: 'top-center',
                timeout: 8000
            });
        });
        </script>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endmacro %}

{%- block html %}
    <head>
    {%- block head %}
    <title>{% block title %}GOOD{% endblock title %}</title>

    {%- block metas %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="Description" content="Graduation Overview and Output for Dancing system">
    {%- endblock metas %}

    {%- block styles %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.custom.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href="{{url_for('static', filename='css/uikit.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/uikit-mod.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='font_awesome/css/all.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/light.dashboard.cards.css')}}">
        <style type="text/css">
        @page {
            size: 210mm 297mm;
            margin: 15mm 10mm 15mm 10mm;
        }
        @media print {
            .no-print, .no-print * {
                display:none !important;
            }
        }
        </style>
    {%- endblock styles %}

    {%- block head_scripts %}
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.4.0.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/socket.io.js')}}"></script>
    {%- endblock head_scripts %}

    {%- endblock head %}
    </head>
    <body {% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}

    {% block navbar %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary no-print navbar-default">
        {% if current_user.is_admin() %}
        <button class="navbar-toggler" id="sidebar-toggle" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% endif %}
        <a class="navbar-brand" href="{{ url_for('main.index') }}">GOOD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            {% if current_user.is_anonymous %}
                {% if login_form %}
                    <form class="form-inline ml-auto form-width-fix" method="POST" enctype="multipart/form-data">
                        {{ login_form.hidden_tag() }}
                        {{ login_form.username(class_='form-control mx-0 mx-md-1 my-1 my-md-0', placeholder='Username') }}
                        {{ login_form.password(class_='form-control mx-0 mx-md-1 my-1 my-md-0', placeholder='Password') }}
                        {{ login_form.submit(class_='btn btn-outline-primary form-control mx-0 mx-md-1 my-1 my-md-0') }}
                    </form>
                {% endif %}
            {% else %}
                <form class="form-inline ml-auto">
                    <span class="navbar-text mx-0 mx-md-2 my-1 my-md-0">Welcome, {{ current_user }}</span>
                    <a href="{{ url_for('main.logout') }}" class="form-control btn btn-outline-light mx-0 mx-md-2 my-1 my-md-0">Logout</a>
                </form>
            {% endif %}
        </div>
    </nav>
    {%- endblock navbar %}

    {% block content -%}
    <div id="main-wrapper" class="main-wrapper">
        {{ flash_messages() }}

        {% block sidebar %}
            {% include '_sidebar.html' %}
        {% endblock %}

        {% block app_content %}{% endblock %}

    </div>
    {%- endblock content %}

    {% block scripts %}
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script>
    $("#sidebar-toggle").click(function(e) {
        e.preventDefault();
        $("#main-wrapper").toggleClass("toggled");
    });
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='js/uikit.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/uikit-icons.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/Sortable.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/sortable.js')}}"></script>
    {%- endblock scripts %}

    {%- endblock body %}
    </body>
{%- endblock html %}
</html>