{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/landing-page.css')}}">
{% endblock %}

{% block body_attribs %}class="text-center"{% endblock body_attribs %}

{% block content %}
<form class="form-sign-in" method="POST" enctype="multipart/form-data">
    <img class="mb-2" src="{{url_for('static', filename='logo.png')}}" alt="GOOD logo">
    {{ login_form.hidden_tag() }}
    {{ login_form.username(class_='form-control my-2', placeholder='Username') }}
    {{ login_form.password(class_='form-control my-2', placeholder='Password') }}
    {{ login_form.submit(class_='btn btn-primary form-control my-3') }}
</form>
{% endblock %}